{{ define "modals/add-strain-modal.html" }}
<!-- Add Strain Modal -->
<div class="modal fade" id="addStrainModal" tabindex="-1" aria-labelledby="addStrainModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStrainModalLabel">{{ .lcl.add_new_strain }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ .lcl.title_close }}"></button>
            </div>
            <div class="modal-body">
                <form id="addStrainForm">
                    <!-- Strain Name -->
                    <div class="mb-3">
                        <label for="strainName" class="form-label">{{ .lcl.strain_name }}</label>
                        <input type="text" class="form-control" id="strainName" placeholder="{{ .lcl.strain_name_placeholder }}" required>
                    </div>

                    <!-- URL -->
                    <div class="mb-3">
                        <label for="url" class="form-label">{{ .lcl.url }}</label>
                        <input type="text" class="form-control" id="url" placeholder="{{ .lcl.strain_url_placeholder }}" >
                    </div>

                    <!-- Breeder Dropdown -->
                    <div class="mb-3">
                        <label for="breederSelect" class="form-label">{{ .lcl.breeder }}</label>
                        <select class="form-select" id="breederSelect" required>
                            {{ range .breeders }}
                            <option value="{{ .ID }}">{{ .Name }}</option>
                            {{ end }}
                            <option value="new">Add New Breeder</option>
                        </select>
                    </div>

                    <!-- New Breeder Input -->
                    <div class="mb-3 d-none" id="newBreederInput">
                        <label for="newBreederName" class="form-label">{{ .lcl.add_new_breeder }}</label>
                        <input type="text" class="form-control" id="newBreederName" placeholder="{{ .lcl.new_breeder_placeholder }}">
                    </div>

                    <!-- Indica / Sativa Ratio -->
                    <div class="mb-3">
                        <label for="indicaSativaSlider" class="form-label">{{ .lcl.i_s_ratio }}</label>
                        <input type="range" class="form-range" id="indicaSativaSlider" min="0" max="100" value="50">
                        <div class="d-flex justify-content-between">
                            <small class="text-primary" id="indicaLabel">Indica: 50%</small>
                            <small class="text-success" id="sativaLabel">Sativa: 50%</small>
                        </div>
                    </div>

                    <!-- Autoflower -->
                    <div class="mb-3">
                        <label for="autoflower" class="form-label">{{ .lcl.autoflower }}</label>
                        <select class="form-select" id="autoflower" required>
                            <option value="true">{{ .lcl.yes }}</option>
                            <option value="false" selected>{{ .lcl.no }}</option>
                        </select>
                    </div>

                    <!-- Cycle Time -->
                    <div class="mb-3">
                        <label for="cycleTime" class="form-label">{{ .lcl.cycle_time }}</label>
                        <input type="number" class="form-control" id="cycleTime" min="0" placeholder="days" required value="56">
                        <p class="text-muted">{{ .lcl.cycle_time_desc }}</p>
                    </div>

                    <!-- Seed Count -->
                    <div class="mb-3">
                        <label for="seedCount" class="form-label">{{ .lcl.seed_count }}</label>
                        <input type="number" class="form-control" id="seedCount" min="0" placeholder="{{ .lcl.seed_count_placeholder }}" required>
                    </div>

                    <!-- Short Description -->
                    <div class="mb-3">
                        <label for="strainShortDescription" class="form-label">{{ .lcl.short_description_txt }}</label>
                        <input type="text" class="form-control" id="strainShortDescription" placeholder="{{ .lcl.short_description_placeholder }}" required>
                    </div>

                    <!-- Description -->
                    <div class="mb-3">
                        <label for="strainDescription" class="form-label">{{ .lcl.description_txt }}</label>
                        <textarea class="form-control" id="strainDescription" rows="3" placeholder="{{ .lcl.strain_description_placeholder }}"></textarea>
                        <p class="text-muted">{{ .lcl.description_txt_desc }}</p>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">{{ .lcl.add_strain }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/add-strain-modal.js"></script>
{{ end }}