{{ define "views/change-password.html" }}
{{ template "common/header.html" .}}
</head>

<body>
<div class="container">
    <h1 class="text-center text-primary">{{.lcl.change_password}}</h1>
    <div class="card shadow-sm">
        <form action="/change-password" method="POST">
            <div class="mb-3">
                <label for="newPassword" class="form-label">{{ .lcl.new_password }}</label>
                <input type="password" name="new_password" id="newPassword" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">{{ .lcl.confirm_password }}</label>
                <input type="password" name="confirm_password" id="confirmPassword" class="form-control" required>
            </div>
            {{ if .Error }}
            <div class="alert alert-danger">{{ .Error }}</div>
            {{ end }}
            <button type="submit" class="btn btn-primary w-100">{{ .lcl.change_password }}</button>
        </form>
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "common/footer.html" .}}

{{ end }}