{{ define "views/strain.html"}}
<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "common/header.html" .}}
{{ template "common/header2.html" .}}
<div class="container">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/strains">{{ .lcl.title_strains }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .strain.Name }}</li>
        </ol>
    </nav>

    <!-- Page Title -->
    <div class="text-center mb-5">
        <h1 class="display-4 text-primary">{{ .strain.Name }}</h1>
        <p class="text-secondary fs-4">by {{ .strain.Breeder }}</p>
        <p class="text-muted">{{ .strain.ShortDescription }}</p>
        {{ if .strain.Autoflower }}
        <i class="fas fa-bolt"></i>
        {{ else }}
        <i class="fas fa-photo-film"></i>
        {{ end }}
        {{ if .strain.Url }}
        <a href="{{ .strain.Url }}" class="btn btn-secondary" target="_blank">
            <i class="fas fa-external-link-alt"></i>
        </a>
        {{ end }}
        {{ if .loggedIn }}
        <button class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editStrainModal"
                data-id="{{ .strain.ID }}"
                data-strain='{{ .strain | jsonify }}'>
            {{ .lcl.edit_strain }}
        </button>
        {{ end }}

    </div>

    <!-- Strain Details -->
    <div class="row mb-5">
        <div class="col-12">
            <!-- Render Description from Markdown -->
            <div class="markdown-body">
                {{ .strain.Description | markdownify }}
            </div>
        </div>
    </div>
</div>

{{ template "modals/edit-strain-modal.html" .}}

<script src="https://cdn.jsdelivr.net/npm/exif-js@2.3.0/exif.min.js"></script>
<!--Embed the footer.html template at this location-->
{{ template "common/footer.html" .}}

{{ end }}